.icon {
  width: 1.5rem;
  height: 1.5rem;
}

.dark {
  display: none;
}

.light {
  display: none;
}

.active {
  transition: transform 50ms ease-in-out;

  &:active {
    transform: scale(0.97);
  }
}
